{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <title>ورود به سیستم</title>
</head>

<body style="background: #f0f0f0;">
<div align="center" style="margin-top:30px" >
<h2>ورود به سیستم</h2>
<hr color="gray" width="50%">
<br><b>
<form method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success ml-2" type="submit">ورود</button>
</form>
</div></b>
<div align="center" style="margin-bottom:50px"><br>
<p><b>حساب کاربری ندارید ؟</p>
<a href="{% url 'signup' %}" class="btn btn-primary ml-2">ثبت نام</a>
</div></b>
</body>

{% endblock content %}