{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>

<body>
<!-- ========================= SECTION  END// ========================= -->
<section style="background-color:	#f0f0f0;"> <br>
	
			<div class="container" style="background-color: white;">
                <br><br>
				<h2><p style="text-align:center;color:blue;margin-top:10px">درباره موسسه پرتو پيشرو آوا اروند</p></h2><b>
                    <div align="center">
                    <hr width="50%;" color="black" >
                    </div>
			<div>					
					<p style="text-align:right;font-size:18px">
				                  
                                   <p align="center" >موسسه پرتو پیشرو آوا اروند در اوایل سال 1394تأسیس و فعالیت آموزشی خود را از همان سال با کادری مجرب از اعضای هیات علمی دانشگاه های کشور شروع کرد. این شرکت در سال 1400 موفق به اخذ مجوز آموزش از سازمان مدیریت و برنامه ریزی استان خوزستان در گروه مشاغل فرهنگیان حیطه آموزش ابتدایی و پیش دبستانی شد و فعالیت خود را بعد از اخذ مجوز در این حیطه شروع کرد. هدف اصلی موسسه برگزاری دوره های آموزشی کاربردی متناسب با نیاز فرهنگیان محترم و افزایش مهارت و دانش فراگیران می باشد. در این موسسه اساتیدی با مدارک تحصیلی عالی از بهترین دانشگاه های کشور حضور دارند که آماده ارایه تجارب و دانش خود به فراگیران می باشند</p>
                    </b>
                <br><br><br><br>
			</div>
</section>



</body>
</html>

{% endblock %}
