{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<body>
<!-- ========================= SECTION  END// ========================= -->
<section style="background-color:	#f0f0f0;"> <br>
	
			<div class="container" style="background-color: white;">
                <br><br>
				<h2><p style="text-align:center;color:blue;margin-top:10px">ارتباط با موسسه پرتو پيشرو آوا اروند</p></h2><b>
                    <div align="center">
                    <hr width="50%;" color="black" >
                    </div>
			<div>					
					<p style="text-align:right;">
                        شماره تلفکس: 34454441-061<br>
                        شماره تلفکس: 34454442-061<br>
                        شماره همراه: 09166936255<br>
                        شماره همراه: 09166936255<br>
                        آدرس: اهواز - زیتون‌ کارمندی - خیابان زیتون - نبش فردوس - پلاک 25 - طبقه ۸ - موسسه پرتو پیشرو آوا اروند
                                   <p align="right">
                                   </p>
				
                <br><br><br><br></b>
			</div>
</section>



</body>
</html>

{% endblock %}
