{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<body>
<!-- ========================= SECTION  END// ========================= -->
<section style="background-color:	#f0f0f0;"> <br>
	
			<div class="container" style="background-color: white;">
                <br><br>
				<h2><p style="text-align:right;color:blue;margin-top:10px">نرم افزار مورد نیاز</p></h2><b>
                    <div align="right">
                    <hr width="50%;" color="black" align="right">
                    </div>
			<div>					
					<p style="text-align:right;font-size:18px">
				                   :جهت دانلود برنامه ،می توانید از لینک زیر استفاده فرمایید
                                   <br>
                                   <p align="center">
                                   <a href="https://soft98.ir/software/office/15080-adobe-connect-download.html">دانلود نرم افزار</a></p>
                                   <div align="center">
				<hr>
                                   </div>
                <h3><p style="text-align:right;color:blue;margin-top:10px">راهنمای دانلود و نصب نرم افزار جهت شرکت در کلاس های آنلاین</p></h3>
                <div align="right">
                    <hr width="50%;" color="black" align="right">
                </div>
			<div>					
					<p style="text-align:right;font-size:18px">
				                   :جهت آموزش نصب نرم افزار از لینک زیر استفاده فرمایید
                                   <br>
                                   <p align="center">
                                   <a href="https://mizbanfa.net/mag/adobe-connect-virtual-classroom-and-meeting#:~:text=%D9%88%D8%A7%D8%B1%D8%AF%20%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20Play%20Store%20%DA%AF%D9%88%D8%B4%DB%8C,%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84%20%D8%B1%D8%A7%20%D9%86%DB%8C%D8%B2%20%D9%85%D8%B7%D8%A7%D9%84%D8%B9%D9%87%20%D9%86%D9%85%D8%A7%DB%8C%DB%8C%D8%AF.">آموزش نصب نرم افزار</a></p>
				</div>
                <br><br><br><br></b>
			</div>
</section>



</body>
</html>

{% endblock %}
