{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<body>
    
<!-- ========================= SECTION  END// ========================= -->
<section style="background-color:	#f0f0f0;"> 
	<br>
			<div class="container" style="background-color: white;">
                <br><br>
				<h2><p style="text-align:right;color:blue;margin-top:10px">معرفی اساتید مجموعه</p></h2><b>
                    <div align="center">
                    <hr width="50%;" color="black" align="right">
                    </div>
                    <br><br><br></b>
</section>



</body>
</html>

{% endblock %}
